*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #eeeeee;
  font-family: "Nunito", sans-serif;
}

.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-container {
  background-color: #fafafa;
  border-radius: 20px;
  padding: 2rem;
  box-shadow: 7px 7px 15px rgba(0, 0, 0, 0.2);
}

#todo-input {
  border: none;
  outline: none;
  width: 100%;
  background-color: #424242;
  border-radius: 30px;
  color: #fafafa;
  padding: 0.5rem;
}

#todo-input::placeholder {
  color: #fafafa;
  opacity: 0.3;
  font-style: italic;
  font-weight: bold;
}

.todo-list {
  list-style: none;
  margin: 1rem 2rem 2rem 0;
  padding: 0.5rem;
  font-size: 1.2rem;
  letter-spacing: 0.5px;
}
